@model UmbracoMapperified.Web.ViewModels.Pages.NewsItemPageViewModel
@{
    Layout = "umbLayout.cshtml";
}
<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">
            <div class="9u skel-cell-mainContent">
                <div class="content content-left">
                    <!-- Content -->
                    <article class="is-page-content">
                        <header>
                            <h2>@Model.Title</h2>
                        </header>
                        <section>
                            @if (!string.IsNullOrEmpty(Model.ImageUrl))
                            {
                                <span class="image image-full"><img src="@Model.ImageUrl" alt="" /></span>
                            }

                            @Model.BodyText
                        </section>                           
                    </article>
                    <!-- /Content -->
                </div>
            </div>
            <div class="3u">
                <div class="sidebar">
                    @Html.Action("LatestNewsWidget", "UmbNewsOverview")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="12u">
                @Html.Action("FeaturedPages", "UmbTextPage")
            </div>
        </div>
    </div>
</div>
<!-- /Main -->